/* CSS HOMEPAGE*/ 
/* zagrade:{} */

.body{
    background-color: #FAFAFA;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: normal;
    line-height: 1.6em;
    margin-left:20%;
    margin-bottom: 0;
    width: 100%;
}

.container{
    margin: auto;
    overflow: hidden;
}

header{
    background-color:#6495ED;
    display: inline;
    width: 100%;
    margin-left: 0;
}

.header-logo{
    background-color: #6495ED;
    color: #fff;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bolder;
    font-size: 30px;
    float: left;
}

.menu{
    display: inline;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bolder;
    font-size: 15px;
}

a{
    text-decoration: none;
    color: #fff;
}

.ul-nav{
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.nav-link-li-header{
    display: inline;
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
    font-size: medium;

}

.ul-nav-login{
    list-style-type: none;
    text-align: center;
    padding: 0;
    display: inline;
    justify-content: flex-end;
}

.bttn-register-yellow{
    text-align: center;
    display: inline;
    color: white;
    background-color: #FFA500;
    border-radius: 25px;
    padding: 20px;
    margin: auto;
} 

.login{
    display: inline;
    text-transform: none;
    font-style: normal;
    font-size: 15px;
}

.learn-travel-magento{
    background-color: #6495ED;
    color: #fff;
    text-align: left;
}

.h1-magento{
    font-size: large;
    color: #fff;
    font-weight: bold;
    text-align: left;
}

.paragraph-magento{
    color: #fff;
    font-size: 10px;
    text-align: left;
}

.bttn-sign-up-yellow{
    text-align: center;
    display: inline;
    color: white;
    background-color:#FFD700;
    border-radius: 25px;
}

.h2-heading{
    text-decoration: none;
    text-align: left;
    text-transform: none;
    color: black;
    text-align: justify;
}

.section-icons{
    margin-left: 20px;
    float: left;
    width: auto;
}

#icon-l{
    text-align: left;
    float: left;
}

#icon-r{
    text-align: right;
    float: right;
}

.register-yours-yellow{
    text-align: center;
    display: inline;
    color: #FFA500;
    background-color: white;
}

.companies-in-the-iniciative{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    text-shadow: none;
    text-align: left;
    font-size: xx-large;
}

.companies{
    justify-content: space-between;
    width: 25%;
    margin: 1px solid black;
} 

.name-company{
    text-transform: none;
    text-decoration: none;
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.about-company{
    text-transform: none;
    text-decoration: none;
    font-style: normal;
    font-size: 13px;
    font-weight: bold;
}

.text-company{
    text-transform: none;
    text-align: left;
    text-decoration: none;
    text-indent: 6px;
    font-size: 12px;
    font-weight: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
}

.bttn-view-profile{
    text-align: center;
    color: #1E90FF;
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    height: 10px;
    width: 130px;
    margin: 1px solid #1E90FF;
    float: center;
}

.bttn-view-all-blue{
    text-align: center;
    color: white;
    background-color: #1E90FF;
    border-radius: 25px;
    padding: 20px;
    height: 10px;
    width: 130px;
    margin: 1px solid #1E90FF;
    float: center;
}

.heading-takeoff{
    text-decoration: none;
    text-transform: none;
    text-align: right;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 15px;
}

.paragraph-takeoff{
    text-decoration: none;
    text-transform: none;
    text-align: right;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 12px;
}

hr{
    color: #FFA500;
}

.bttn-sign-up-blue{
    text-align: center;
    color: white;
    background-color: #1E90FF;
    border-radius: 25px;
    height: 10px;
    width: 130px;
    margin: 1px solid #1E90FF;
    float: center;
}

.bttn-view-all-blue{
    text-align: center;
    color: white;
    background-color: #1E90FF;
    border-radius: 25px;
    height: 10px;
    width: 130px;
    margin: 1px solid #1E90FF;
    float: center;
}

.read-about-yellow{
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFA500;
    font-size: 12px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
}

.latest-exchange-stories{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    text-shadow: none;
    text-align: left;
    font-size: xx-large;
}

.date{
    color: #DCDCDC;
    text-decoration: none;
    text-transform: none;
    text-align: right;
    font-size: 7px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
}

.blog-headings{
    color: black;
    text-decoration: none;
    text-transform: none;
    text-align: right;
    font-size: 15px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
}

.blogs{
    color: black;
    text-decoration: none;
    text-transform: none;
    text-align: right;
    font-size: 10px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
}

.host-sender{
    color: #DCDCDC;
    text-decoration: none;
    text-transform: none;
    text-align: right;
    font-size: 7px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
}

.datetime{
    color: #DCDCDC;
    text-decoration: none;
    text-transform: none;
    text-align: right;
    font-size: 7px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
}

.image{
    width: 500px;
    height: 350px;
    display: inline;

}

.inchoo-logo{
    width: 100px;
    height: 70px;
}

.interactiv4-logo{
    width: 150px;
    height: 70px;
}

.footer-paragraph{
    font-size: 10px;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    text-align: left;
    text-transform: none;
    text-decoration: none;
}

.footer-logo{
    float: left;
    margin: 0;
    background-color: black;
    color: white;
}

.nav-link-li-footer{
    display: inline;
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
    font-size: medium;
    margin-left: 1px solid white;
    font-family: 'Courier New', Courier, monospace;
}

.footer{
    margin: 0;
    background-color: black;
    color:white;
}